{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <p>{{ message }}</p>
            <form method="post">
                <table class="table">
                    {% for field in form %}
                        <tr>
                            <td><small>{{ field.label_tag }}</small></td>
                            <td><small>{{ field }}</small></td>
                        </tr>
                    {% endfor %}
                </table>
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" >Se connecter</button>
            </form>
            <br>
            <p>Pas encore d'accès ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>

        </div>
    </div>
</div>
{% endblock content %}