{% extends 'masque_EME/base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Générer les PRE40 et PRE20</h3>
            <form method="post" enctype="multipart/form-data" id="pdf-upload-form">
                {% csrf_token %}
                <div id="drop-zone" class="mb-3">
                    <p>Glisser & Déposer la PRE25</p>
                </div>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>

        

            {% if file_url %}
                <br><br>
                    PRE 25 envoyée! <br><br>
                    <a class="btn btn-success" href="{{ file_url }}" target="_blank">PRE25 originale</a>
            {% endif %}
            
            <!-- Add this part to download the modified docx file -->
            {% if PRE40_url %}
                    <a class="btn btn-success" href="{{ PRE40_url }}" download>PRE40 modifiée</a>
            {% endif %}

            {# <pre>{{ raw_extracted_text }}</pre> #}
            <!-- Include additional parts to show the PDF text and link -->
            {% if extracted_info %}
            <br><br><br>
            <div>
                <h3>Infos extraites :</h3>
                {% for key, value in extracted_info.items %}
                    <p><strong>{{ key }}:</strong> {{ value }}</p>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>

<!-- Other links -->
{# <a href="{% static 'Skoll/docx/PRE40.docx' %}" download>Download Template PRE40</a> #}


{% endblock %}

{% block js %}

    <script>
    let dropZone = document.getElementById('drop-zone');
    let fileInput = document.getElementById('id_pdf_file');  // Assuming the id of your file input is 'id_pdf_file'

    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('drag-over');
    });

    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('drag-over');
    });

    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('drag-over');

        let files = e.dataTransfer.files;
        fileInput.files = files;

        dropZone.innerText = files[0].name;
    });

    dropZone.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        dropZone.innerText = fileInput.files[0].name;
    });
</script>

{% endblock %}
