{% extends 'base.html' %}

{% block css %}
<style>
    #drop-zone {
        border: 2px dashed #ccc;
        padding: 50px;
        text-align: center;
    }

    #drop-zone.dragging {
        border-color: #000;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Générer les PRE40 et PRE20</h3>

            {% if file_url %}
                <p>PRE 25 envoyée!</p>
            {% endif %}

            {% if message %}
                <p>{{message}}</p>
            {% endif %}
            
            <p>
            {% if file_url %}
                    <a class="btn btn-success" href="{{ file_url }}" target="_blank">PRE25 originale</a>
            {% endif %}
            {% if PRE40_url %}
                <a class="btn btn-success" href="{{ PRE40_url }}" download>PRE40 modifiée</a>
            {% endif %}
            {% if PRE20_url %}
                <a class="btn btn-success" href="{{ PRE20_url }}" download>PRE20 modifiée</a>
            {% endif %}
            {% if zip_file %}
                <a class="btn btn-primary" href="{{ zip_file }}" download>Dossier complet</a>
            {% endif %}
            </p>


            <form method="post" enctype="multipart/form-data" id="pdf-upload-form" autocomplete="on">
                {% csrf_token %}
                <div id="drop-zone" class="mb-3">
                    <p>Glisser & Déposer la PRE25</p>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>

                <table class="table">
                    {% for field in form %}
                        <tr>
                            <td><small>{{ field.label_tag }}</small></td>
                            <td><small>{{ field }}</small></td>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>

        {% if extracted_info %}
        <br><br><br>
        <div>
            <h3>Infos extraites :</h3>
            {% for key, value in extracted_info.items %}
                <p><strong>{{ key }}:</strong> {{ value }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% if extracted_text %}
        <pre>
            {{extracted_text}}
        </pre>
        {% endif %}
        

    </div>
</div>

<!-- Other links -->
{# <a href="{% static 'Skoll/docx/PRE40.docx' %}" download>Download Template PRE40</a> #}


{% endblock %}

{% block js %}

    <script>
    let dropZone = document.getElementById('drop-zone');
    let fileInput = document.getElementById('id_pdf_file');  // Assuming the id of your file input is 'id_pdf_file'

    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('drag-over');
    });

    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('drag-over');
    });

    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('drag-over');

        let files = e.dataTransfer.files;
        fileInput.files = files;

        dropZone.innerText = files[0].name;
    });

    dropZone.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        dropZone.innerText = fileInput.files[0].name;
    });

</script>

{% endblock %}
